/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery .images {
  max-width: 85%;
  list-style: none;
  columns: 5 310px;
  gap: 15px;
  margin: 40px 0;
}

.gallery .images .img {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 14px;
  border-radius: 4px;
}

.gallery .images .img img {
  width: 100%;
  transition: all 0.2s ease;
}

.gallery .images .img img:hover {
  transform: scale(1.1);
}

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.65);
  visibility: hidden;
}

.lightbox.show {
  visibility: visible;
}

.lightbox .wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 100%;
  background: #fff;
  border-radius: 6px;
  max-width: 850px;
  padding: 20px;
  transition: 0.1s ease;
  pointer-events: none;
  opacity: 0;
}

.lightbox.show .wrapper {
  pointer-events: auto;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.lightbox .wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lightbox .wrapper header .details {
  display: flex;
  align-items: center;
}

.lightbox .wrapper header .details i {
  font-size: 1.7rem;
}

.lightbox .wrapper header .details span {
  font-size: 1.2rem;
  margin-left: 12px;
}

.lightbox .wrapper header .button i {
  height: 40px;
  width: 40px;
  cursor: pointer;
  background: #6c757d;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  font-size: 1.25rem;
  transition: all 0.2s ease;
}

.lightbox .wrapper header .button i:hover {
  background: #5f666d;
}

.lightbox .wrapper .preview-image {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.lightbox .wrapper .preview-image .img {
  max-height: 65vh;
}

.lightbox .wrapper .preview-image .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 668px) {
  .gallery .images {
    max-width: 100%;
    padding: 15px;
    margin-top: 20px;
  }

  .lightbox .wrapper {
    padding: 12px;
    max-width: calc(100% - 26px);
  }

  .lightbox .wrapper .preview-image {
    margin-top: 15px;
  }
}
